body {
    margin: 0;
    background-color: lightyellow;

    min-height: 100vh;
}

h1, h2 {
    display: block;
    margin: 1% 0;
    
    text-align: center;
    justify-content: center;

    font-size: 4rem;
    
}



nav {
    border-bottom: 5px solid black;
    padding-bottom: 0.3rem;

}

ol {
    margin: 0;
    text-align: center; 
}

li {
    color: green;
    display: inline;
    margin: 0 5rem;
    font-size: 1.5em;
}

header {
    height: fit-content;
}

footer {
    height: 2rem;
}

.container-main {
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    text-align: center;
    

}

.container-main-header {
    height: 100%;    
    width: 100%;

}

.container-main input {
    margin: 1% 0;
    font-size: 2rem;
}

.container-main button {
    margin: 1% 0;
    font-size: 2rem;

    justify-content: center;
    align-items: center;
    text-align: center;

}


.container-grid {
    width: 90%;

    display: none;
    grid-template-columns: 1fr;

    margin: auto;
    
    
}

.container-grid-items {
    background-color: lightgreen;
    border: 10px solid black;

    text-align: center;

    margin: 2% 0;
}
.container-grid-items:first-child {
    margin: 0;

}

.container-grid-items h3 {
    color: black;
    margin: 1%;
    font-size: 3rem;
}

.container-grid-items img {
    margin: 0;
    border: solid white 10px;

    height: 40vh;
    width: 60vh;
}

.container-grid-items p {
    font-size: 2rem;
    width: 80%;
    margin: 1% auto;
}